@import "tailwindcss";

:root {
  font-smooth: never;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: none;
}

@font-face {
  font-family: "Departure Mono";
  src: url("./assets/DepartureMono-Regular.woff2") format("woff2"),
    url("./assets/DepartureMono-Regular.woff") format("woff"),
    url("./assets/DepartureMono-Regular.otf") format("otf");
  font-display: swap;
}

:root {
  --background: #2b2933;
  --f_high: #f2f2f2;
  --f_med: #00bdd6;
  --f_low: #aa9fdf;
  --f_inv: #1a1820;
  --b_high: #1a1820;
  --b_med: #24212c;
  --b_low: #34303b;
  --b_inv: #f2f2f2;
}

@theme {
  --font-mono: "Departure Mono", monospace, monospace;

  --color-*: initial;
  --color-background: var(--background);
  --color-b-high: var(--b_high);
  --color-b-med: var(--b_med);
  --color-b-low: var(--b_low);
  --color-b-inv: var(--b_inv);

  --color-f-high: var(--f_high);
  --color-f-med: var(--f_med);
  --color-f-low: var(--f_low);
  --color-f-inv: var(--f_inv);
}

@view-transition {
  navigation: auto;
}

@keyframes fade-out-old-view {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fade-in-new-view {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

::view-transition-old(main) {
  animation: fade-out-old-view 300ms cubic-bezier(0.55, 0, 1, 0.45) forwards;
}

::view-transition-new(main) {
  animation: fade-in-new-view 300ms cubic-bezier(0, 0.55, 0.45, 1) forwards;
}